<header>
  <nav class=<%= user_signed_in? ? "bg-red-800" : "bg-gray-800" %>>
    <div class="mx-auto px-6 md:px-12">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div>
            <%= image_tag("favicon-32x32.png", :alt => "favicon") %>
          </div>

          <div class="flex-shrink-0 ml-3">
            <a href="<%= root_path %>" class="text-white text-2xl">Valley Traveler</h2>
          </div>
          <div class="hidden sm:block">
            <div class="ml-8 flex items-baseline space-x-4">
              <a href="<%= root_path %>" class="<%= nav_link_class %>">Home</a>
              <% if user_signed_in? %>
                <%= link_to "New Post",
                  new_blog_post_path, class: nav_link_class %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
